html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: flex;
}
@font-face {
    font-family: 'ide';
    src: url('/uni05_53.ttf'), format('truetype');
}
body {         
    font-family: 'ide';
    line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
.sobre{background-color:#603b88; display: flex;}
.neko{margin:3rem 32rem 6rem 8rem;display: flex;}
.texto{margin:4rem 2rem 6rem 24rem;display: flex; font-size: large;border-left: rgba(247, 8, 167, 0.753)solid;border-left-width: 8px;}
.letras{margin:5rem 1rem 6rem ;display: flex;font-size:larger;}
.sobrenos{margin:5rem 2rem 0rem 24rem;display: flex;font-size:4rem; text-shadow: 2px 4px black;}
.ide{margin:0rem 0rem 0rem 0rem;display: flex; right: 1240px;top:600px ;position:absolute;}
