.iniciais {

    color: #603B88;
}

.intro_text {

    text-align: center;
    font-size: 270%;
    margin-bottom: 70px;
    margin-top: 130px;
}


.button {
    background-color: white;
    margin: 0.6rem;
    height: 8rem;
    width: 50rem;
    transition: transform 0.5s;
    cursor: pointer;
}

.bar_container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;

    margin-bottom: 10%;
}

.description_container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1400px;
    height: 300px;
    margin-bottom: 20px;
}


.tipos_text {
    color: #603B88;
    text-align: center;
    position: relative;
    padding: 10px;
}

.tipos {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.elements button {
    background-color: white;

    margin: 0.2rem;
    height: 3rem;
    width: 6rem;
    cursor: pointer;
}



.verticalLine {
    width: 2px;
    /* Largura da linha vertical */
    height: 100vh;
    /* Altura da linha, você pode ajustar conforme necessário */
    background-color: #603B88;
    /* Cor da linha */
    position: absolute;
    left: 400px;
    /* Posição à esquerda do viewport */
    /*transform: translateX(-50%);*/
    /* Centralizar a linha vertical no meio */
}

.escolhaUm {
    height: 80px;
    font-size: 20px;
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 400px;
}

.pokemonDormindo {
    width: 170px;
    height: 170px;

    margin-left: 100px;

}

.Treinadores {
    height: 100%;
    background-color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 auto;
    width: 50%;

}

.TreinadoresImg1 {
    height: 50px;
    background-color: white;



    margin-left: 8%;
    margin-bottom: 20px;
    width: 50px;

}

.TreinadoresImg2 {
    height: 50px;
    background-color: white;

    transform: scaleX(-1);

    margin-left: 80%;
    margin-top: 20px;
    width: 50px;

}

.bar_container2 {
    margin-top: -20px;
    margin-left: 100px;
    width: 500px;
    height: 20px;
}

.logo {
    width: 90px;
    height: 60px;

}

.move {
    transition: 0.5s;
}

.move:hover {
    transform: translateY(-1rem);
}