.iniciais {
    color: #603B88;
}

.intro_text {

    text-align: center;
    font-size: 300%;
}

.button_type_color {}

.button {
    background-color: white;
    margin: 0.6rem;
    height: 8rem;
    width: 50rem;
    transition: transform 0.5s;
    cursor: pointer;
}

.bar_container {
    display: flex;
    flex-direction: row;
}

.description_container {
    display: flex;
    flex-direction: row;
}


.tipos_text {
    text-align: center;
    position: relative;
    padding: 10px;
}

.tipos {
    display: flex;
    flex-direction: row;
}

.elements button {
    background-color: white;

    margin: 0.2rem;
    height: 3rem;
    width: 6rem;
    cursor: pointer;
}

/*
.tipos button {
    margin: 0.2rem;
    height: 3rem;
    width: 6rem;
    cursor: pointer;
}

.tipos button:hover {
    transform: translateY(-1rem);
}*/