.sobre {
    background-color: #603b88;
    display: flex;
}
.teste {
    background-color: #603b88;
}
.teste {
    background-color: #603b88;
}

.neko {
    margin: 3rem 32rem 6rem 8rem;
    display: flex;
}

.texto_container {
    margin-left: 5%;
    margin-right: 50%;
    display: flex;
    font-size: large;
    background-color: #242424;
    background-color: #242424;
    border-left: rgba(247, 8, 167, 0.753)solid;
    border-left-width: 8px;
    
    
}

.letras {
    margin: 2rem 1rem 10rem;
    display: block;
    color: #fff;
    text-shadow: 2px 4px black;
    font-size: larger;
}

.sobrenos {
    margin-left: 5%;
    font-size: 4rem;
    color: #fff;
    color: #fff;
    text-shadow: 2px 4px black;


}

.ide {
    margin-top: 40%;
    margin-left: 45%;
}