.sobre {
    background-color: #603b88;
    display: flex;

}

.neko {
    margin: 3rem 32rem 6rem 8rem;
    display: flex;
}

.textobox {
    background-color: black;
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    font-size: large;
    border-left: rgba(247, 8, 167, 0.753)solid;
    border-left-width: 8px;
}

.letras {
    color: white;
    margin: 5rem 1rem 6rem;
    display: flex;
    font-size: larger;
}

.sobrenos {
    color: white;
    margin-top: 60px;
    margin: 110px;
    margin-left: 150px;
    margin-bottom: 60px;
    display: flex;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 4px black;
}

.ide {
    color: purple;
    height: 30;
    margin: 0;
    margin-top: 100px;
    display: flex;
    right: 1240px;
    top: 800px;
    position: absolute;
}

.alinhar {

    display: block;

}